{% extends "base.html" %}

{% block media %}
    {% block user_media %}{% endblock %}

    <style>
        .user-gravatar {
            display: block;
            padding-right: 15px;
            width: 135px;
            margin: 0 auto;
        }

        .user-gravatar img {
            width: 135px;
            height: 135px;
            display: block;
            border-radius: 50%;
        }

        .page-title {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        .user-content {
            width: 100%;
        }
    </style>
{% endblock %}

{% block js_media %}
    {% block user_js_media %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="ui segment">
        <div class="ui container">
            <div class="ui centered grid">
                <div class="row">
                    <div class="four wide column">
                        <div class="ui basic segment">
                            <img class="ui small centered circular image" src="{{ gravatar(user, 135) }}">
                            <h2 class="ui centered header">
                                {{ content_title or title }}
                                <div class="sub header">
                                    {{ content_title or title }}
                                </div>
                            </h2>
                        </div>
                        <a class="ui teal image label">
                            {{ _('Total points:') }}
                            <div class="detail">{{ user.performance_points|floatformat(0) }}</div>
                        </a>
                        {% if ratings %}
                               <a class="ui black image label">
                                   {{ _('Volatility:') }}
                                   <div class="detail">{{ rating.volatility }}</div>
                               </a>
                        {% endif %}
                        <a class="ui green image label">
                                {{ _('Rank by points:') }}
                                <div class="detail">#{{ rank }}</div>
                            </a>
                       {% if ratings %}
                            <a class="ui blue image label">
                                {{ _('Rank by rating:') }}
                            <div class="detail">#{{ rating_rank }}</div>
                            </a>
                            <a class="ui yellow image label">
                                {{ _('Max rating:') }}
                                <div class="detail">{{ rating_number(max_rating) }}</div>
                            </a>
                           <a class="ui purple image label">
                                {{ _('Min. rating:') }}
                                <div class="detail">{{ rating_number(min_rating) }}</div>
                            </a>
                        {% endif %}
                    </div>
                    <div class="twelve wide column">
                        <div class="user-content">{% block user_content %}{% endblock %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}